.page-header {
    background-color: #FFF;
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        grid-column: 1/-1;
        grid-row: 1;
        grid-template-rows: minmax(66px, max-content) 1fr;
        margin-bottom: 16px;
    }
    &__logo {
        justify-self: start;
    }
    &__logo-text {
        justify-self: center;
    }
}
@media screen and (width >= $tablet) {
    .page-header {
        padding-top: 25px; 
        &__container {
            display: flex; 
            align-items: center;
            justify-content: space-between;
        }
        &__wrapper {
            display: block;
            margin-bottom: 0;
        }
        &__logo-text {
            display: none;
        }
    }
}
@media screen and (width > $desktop) {
    .page-header {
        padding-top: 53px; 
    }
    .logo-mobile, .logo-tablet  {
        display: none;
    }
    .logo-desktop {
        display: block;
    }
}

    


