@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald/Oswaldregular.woff2);
    src: url(../fonts/Oswald/Oswaldregular.woff);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald/Oswaldmedium.woff2);
    src: url(../fonts/Oswald/Oswaldmedium.woff);
    font-style: normal;
    font-weight: 500;
}