@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald/Oswaldregular.woff2);
  src: url(../fonts/Oswald/Oswaldregular.woff);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald/Oswaldmedium.woff2);
  src: url(../fonts/Oswald/Oswaldmedium.woff);
  font-style: normal;
  font-weight: 500;
}
.page-header {
  background-color: #FFF;
}
.page-header__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.page-header__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-column: 1/-1;
  grid-row: 1;
  grid-template-rows: minmax(66px, max-content) 1fr;
  margin-bottom: 16px;
}
.page-header__logo {
  justify-self: start;
}
.page-header__logo-text {
  justify-self: center;
}

@media screen and (width >= 768px) {
  .page-header {
    padding-top: 25px;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header__wrapper {
    display: block;
    margin-bottom: 0;
  }
  .page-header__logo-text {
    display: none;
  }
}
@media screen and (width > 1240px) {
  .page-header {
    padding-top: 53px;
  }
  .logo-mobile, .logo-tablet {
    display: none;
  }
  .logo-desktop {
    display: block;
  }
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/-1;
  grid-row: 1;
  grid-template-rows: minmax(66px, max-content) 1fr;
  align-items: center;
}
.nav-menu__list {
  grid-column: 1/-1;
  list-style: none;
  text-align: center;
  transform: translateY(-20px);
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.nav-menu__item {
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  border-top: 1px solid rgb(231, 231, 231);
  padding-top: 22.5px;
  padding-bottom: 23.5px;
}
.nav-menu__item:last-child {
  border-bottom: 1px solid rgb(231, 231, 231);
}
.nav-menu__link {
  color: #000;
  text-decoration: none;
}
.nav-menu__link:hover {
  opacity: 0.6;
}
.nav-menu__btn {
  grid-column-start: 3;
  grid-column-end: auto;
  justify-self: end;
  position: relative;
  width: 24px;
  height: 16px;
  background: none;
  border-style: none;
  cursor: pointer;
}
.nav-menu__btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: black;
}
.nav-menu__btn span:nth-child(1) {
  top: 0;
}
.nav-menu__btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.nav-menu__btn span:nth-child(3) {
  bottom: 0;
}
.nav-menu__btn.btn-closed span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
}
.nav-menu__btn.btn-closed span:nth-child(2) {
  transform: rotate(45deg);
}
.nav-menu__btn.btn-closed span:nth-child(3) {
  display: none;
}

.nav-hiden {
  display: none;
}

@media screen and (width >= 768px) {
  .nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .nav-menu__list {
    display: flex;
    padding-top: 5px;
    gap: 32px;
    justify-content: space-between;
    transform: none;
    animation: none;
  }
  .nav-menu__item {
    font-family: "Oswald";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
    border: none;
    padding: 0;
  }
  .nav-menu__item:last-child {
    border: none;
  }
  .nav-menu__link {
    padding-bottom: 5px;
  }
  .nav-menu__link[href*="/"] {
    border-bottom: 2px #68B738 solid;
  }
  .nav-menu__btn {
    display: none;
  }
}
@media screen and (width > 1240px) {
  .nav-menu__item {
    font-size: 20px;
    line-height: normal;
    z-index: 1;
  }
  .nav-menu__item a {
    color: #FFF;
  }
  .nav-menu__item a[href*="/"] {
    border-bottom: 2px #FFF solid;
  }
}
.logo {
  z-index: 2;
}

.logo-tablet, .logo-desktop {
  display: none;
}

.logo-desktop:hover {
  opacity: 0.8;
}

.logo-desktop:visited {
  opacity: 6;
}

@media screen and (width >= 768px) {
  .logo-mobile, .logo-desktop, .logo-text {
    display: none;
  }
  .logo-tablet {
    display: block;
  }
}
@media screen and (width > 1240px) {
  .logo-mobile, .logo-tablet {
    display: none;
  }
  .logo-desktop {
    display: block;
  }
}
.block-products {
  padding-top: 27.5px;
}
.block-products__title {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 49px;
}

@media screen and (width >= 768px) {
  .block-products {
    padding-top: 64px;
  }
  .block-products__title {
    font-size: 60px;
    margin-bottom: 164px;
  }
  .block-products__cards-production {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 140px;
    column-gap: 60px;
  }
}
@media screen and (width > 800px) {
  .block-products__cards-production {
    justify-content: space-around;
  }
}
@media screen and (width > 1240px) {
  .block-products {
    padding-top: 74px;
  }
  .block-products__cards-production {
    justify-content: space-between;
    row-gap: 144px;
  }
}
.card-production {
  position: relative;
  max-width: 480px;
  padding-top: 11px;
  padding-bottom: 67px;
  margin: 0 auto;
}
.card-production__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}
.card-production__img {
  flex: 1 1 50%;
  text-align: center;
  padding-top: 10px;
}
.card-production__img img {
  object-fit: cover;
}
.card-production__description {
  flex: 1 1 50%;
  padding-bottom: 9px;
}
.card-production__name {
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  max-width: 76px;
  color: rgb(34, 34, 34);
  margin-bottom: 18px;
}
.card-production__characteristics {
  font-family: "Arial";
  color: rgb(68, 68, 68);
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.card-production__btn {
  position: absolute;
  bottom: 14px;
  left: 0;
  width: 100%;
}

.card-production--more {
  padding-top: 67px;
  text-align: center;
}
.card-production--more__info {
  margin: 0 auto;
}
.card-production--more__text-title {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  color: rgb(17, 17, 17);
  text-transform: uppercase;
  margin-bottom: 8px;
}
.card-production--more__text {
  font-family: "Arial";
  color: rgb(68, 68, 68);
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
}
.card-production--more__icon-plus {
  position: absolute;
  top: 26.5px;
  left: calc(50% - 15px);
}
.card-production--more .card-production__btn {
  color: #444444;
  background-color: #F2F2F2;
}

@media screen and (width >= 768px) {
  .card-production {
    margin: 0;
    background-color: rgb(242, 242, 242);
    flex: 0 1 50%;
    flex-basis: 324px;
    padding: 161px 37.5px 112px;
  }
  .card-production__info {
    display: block;
  }
  .card-production__img {
    position: absolute;
    top: -45px;
    left: calc(50% - 80.5px);
  }
  .card-production__img--big {
    top: -72px;
  }
  .card-production__description {
    max-width: 211px;
    text-align: center;
    margin: 0 auto;
  }
  .card-production__name {
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 21px;
    line-height: 24px;
    max-width: 155px;
  }
  .card-production__characteristics {
    font-size: 16px;
  }
  .card-production__btn {
    bottom: 40px;
    left: calc(50% - 124px);
    width: 248px;
  }
  .card-production--more {
    background-color: #fff;
    border: 2px solid rgb(242, 242, 242);
  }
  .card-production--more__icon-plus {
    top: 52px;
    left: calc(50% - 30px);
  }
  .card-production--more__info {
    max-width: 167px;
  }
  .card-production--more__text-title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
  }
  .card-production--more__text {
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (width > 1240px) {
  .card-production {
    flex: 0 1 25%;
    flex-basis: 245px;
  }
  .card-production__btn {
    left: calc(50% - 79px);
    width: 168px;
  }
}
.btn {
  font-family: "Oswald";
  text-transform: uppercase;
  height: 40px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(104, 183, 56);
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(94, 170, 47);
}

.block-goods {
  padding-top: 28px;
  padding-bottom: 35px;
}
.block-goods__title {
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 35px;
}
.block-goods__line:not(:last-child) {
  margin-bottom: 13.5px;
  border: none;
  background-color: rgb(205, 205, 205);
  height: 1px;
}
.block-goods__columns-good {
  margin-bottom: 39px;
}

@media screen and (width >= 768px) {
  .block-goods {
    padding-bottom: 76px;
  }
  .block-goods__columns-good {
    border: 1px solid rgb(205, 205, 205);
    padding: 26px 32px 0;
  }
  .block-goods__line:first-child, .block-goods__line:last-child {
    display: none;
    margin-bottom: 13.5px;
  }
  .block-goods__line:not(:last-child) {
    margin-bottom: 26px;
  }
}
@media screen and (width > 1240px) {
  .block-goods {
    padding-top: 75px;
    padding-bottom: 86px;
  }
  .block-goods__title {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 81px;
  }
  .block-goods__content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .block-goods__columns-good {
    width: 73.5%;
    border: none;
    padding: 0;
    margin: 0;
  }
  .block-goods__line, .block-goods__line:first-child, .block-goods__line:last-child, .block-goods__line:not(:last-child) {
    display: block;
    margin-bottom: 0;
  }
}
.item-good {
  padding-bottom: 70px;
  position: relative;
}
.item-good__title {
  color: rgb(34, 34, 34);
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.item-good__characteristics {
  display: flex;
  justify-content: space-between;
  color: rgb(68, 68, 68);
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.item-good__btn {
  position: absolute;
  bottom: 18.5px;
  width: 100%;
}

@media screen and (width >= 768px) {
  .item-good {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item-good__title {
    font-size: 20px;
    margin-bottom: 0;
  }
  .item-good__characteristics {
    column-gap: 51px;
    font-size: 16px;
  }
}
@media screen and (width > 1240px) {
  .item-good {
    padding: 15px 0;
  }
  .item-good__title {
    width: 245px;
  }
  .item-good__characteristics {
    width: 245px;
  }
  .item-good__btn {
    position: static;
    width: 192px;
  }
}
.promo {
  background-image: url("../image/catalog/promo-bg_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 58px;
  padding-bottom: 43px;
}
.promo__icon {
  margin-bottom: 48px;
}
.promo__text {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-family: "Arial";
  font-size: 16px;
  line-height: 20px;
  max-width: 161px;
}

@media screen and (width >= 768px) {
  .promo {
    padding-left: 78px;
    background-image: url("../image/catalog/promo-bg_tablet.png");
    display: flex;
    align-items: center;
    text-align: left;
  }
  .promo__icon {
    display: block;
    margin-bottom: 0;
    margin-right: 40.8%;
  }
  .promo__text {
    margin: 0;
  }
}
@media screen and (width > 1240px) {
  .promo {
    width: 245px;
    padding-left: 0;
    max-width: 245px;
    background-image: url("../image/catalog/promo-bg_mobile.png");
    display: block;
    text-align: center;
  }
  .promo__icon {
    display: inline;
    margin-bottom: 46px;
    margin-right: 0;
  }
  .promo__text {
    margin: 0 auto;
  }
}
.block-contacts {
  background-color: rgb(242, 242, 242);
}
.block-contacts__title {
  display: none;
}
.block-contacts__info {
  padding-top: 28px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
}
.block-contacts__offer {
  flex: 0 0 50%;
  color: rgb(17, 17, 17);
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.block-contacts__address {
  color: rgb(68, 68, 68);
  font-family: "Arial";
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  padding-right: 4px;
}

@media screen and (width >= 768px) {
  .block-contacts__info {
    padding-top: 65px;
    padding-bottom: 61px;
    padding-left: 71px;
    padding-right: 71px;
  }
  .block-contacts__offer {
    font-size: 20px;
    line-height: 25px;
  }
  .block-contacts__address {
    text-align: right;
    max-width: 159px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (width > 1240px) {
  .block-contacts {
    background-color: #ffffff;
  }
  .block-contacts .container {
    position: relative;
  }
  .block-contacts__info {
    background-color: #ffffff;
    position: absolute;
    top: 95px;
    z-index: 1;
    left: 0;
    width: 570px;
    padding-top: 62px;
    padding-bottom: 60px;
    padding-left: 76px;
    padding-right: 89px;
  }
  .block-contacts__address {
    text-align: left;
    padding-right: 0;
  }
}
.map {
  position: relative;
  overflow: hidden;
}
.map__container {
  position: absolute;
  top: 0;
  color: #eee;
  font-size: 12px;
}
.map__address {
  position: absolute;
  top: 14px;
  color: #eee;
  font-size: 12px;
}
.map__widget {
  width: 100%;
  position: relative;
  height: 362px;
}

@media screen and (width >= 768px) {
  .map__widget {
    height: 400px;
  }
}
.page-footer {
  background-color: rgb(242, 242, 242);
  padding-top: 39px;
  padding-bottom: 22px;
  text-align: center;
}
.page-footer__logo-text {
  margin-bottom: 31.5px;
}
.page-footer__list-icon {
  margin: 0 auto 28.5px;
  padding: 20.5px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 36px;
  border-top: solid 1px rgb(217, 217, 217);
  border-bottom: solid 1px rgb(217, 217, 217);
}
.page-footer__logo-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-footer__logo-academy p {
  font-family: "Arial";
  font-size: 16px;
  line-height: 18px;
  color: rgb(68, 68, 68);
}
.page-footer__logo-academy .logo-academy-link {
  cursor: pointer;
}

@media screen and (width >= 768px) {
  .page-footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-footer__list-icon {
    margin: 0;
    border: none;
    padding: 0;
  }
  .page-footer__logo-text {
    margin-bottom: 0;
  }
  .page-footer__logo-academy p {
    padding-right: 22px;
  }
}
.social-icon, .logo-htmlacademy {
  fill: #666666;
}
.social-icon:hover, .logo-htmlacademy:hover {
  fill: #68B738;
}

.social-icon--facebook path {
  stroke: #666666;
  fill: #666666;
  fill-opacity: 0;
}
.social-icon--facebook path:hover {
  stroke: #68B738;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3 {
  font: inherit;
}

@media screen and (width >= 768px) {
  .container {
    padding: 0 30px;
  }
  .nav-menu__item a {
    color: #111111;
  }
  .nav-menu__item a[href*="/"] {
    border-bottom: 2px #68B738 solid;
  }
}
@media screen and (width > 1240px) {
  .container {
    padding: 0;
  }
}