@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald/Oswaldregular.woff2);
  src: url(../fonts/Oswald/Oswaldregular.woff);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald/Oswaldmedium.woff2);
  src: url(../fonts/Oswald/Oswaldmedium.woff);
  font-style: normal;
  font-weight: 500;
}
.page-header {
  background-color: #FFF;
}
.page-header__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.page-header__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-column: 1/-1;
  grid-row: 1;
  grid-template-rows: minmax(66px, max-content) 1fr;
  margin-bottom: 16px;
}
.page-header__logo {
  justify-self: start;
}
.page-header__logo-text {
  justify-self: center;
}

@media screen and (width >= 768px) {
  .page-header {
    padding-top: 25px;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header__wrapper {
    display: block;
    margin-bottom: 0;
  }
  .page-header__logo-text {
    display: none;
  }
}
@media screen and (width > 1240px) {
  .page-header {
    padding-top: 53px;
  }
  .logo-mobile, .logo-tablet {
    display: none;
  }
  .logo-desktop {
    display: block;
  }
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/-1;
  grid-row: 1;
  grid-template-rows: minmax(66px, max-content) 1fr;
  align-items: center;
}
.nav-menu__list {
  grid-column: 1/-1;
  list-style: none;
  text-align: center;
  transform: translateY(-20px);
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.nav-menu__item {
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  border-top: 1px solid rgb(231, 231, 231);
  padding-top: 22.5px;
  padding-bottom: 23.5px;
}
.nav-menu__item:last-child {
  border-bottom: 1px solid rgb(231, 231, 231);
}
.nav-menu__link {
  color: #000;
  text-decoration: none;
}
.nav-menu__link:hover {
  opacity: 0.6;
}
.nav-menu__btn {
  grid-column-start: 3;
  grid-column-end: auto;
  justify-self: end;
  position: relative;
  width: 24px;
  height: 16px;
  background: none;
  border-style: none;
  cursor: pointer;
}
.nav-menu__btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: black;
}
.nav-menu__btn span:nth-child(1) {
  top: 0;
}
.nav-menu__btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.nav-menu__btn span:nth-child(3) {
  bottom: 0;
}
.nav-menu__btn.btn-closed span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
}
.nav-menu__btn.btn-closed span:nth-child(2) {
  transform: rotate(45deg);
}
.nav-menu__btn.btn-closed span:nth-child(3) {
  display: none;
}

.nav-hiden {
  display: none;
}

@media screen and (width >= 768px) {
  .nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .nav-menu__list {
    display: flex;
    padding-top: 5px;
    gap: 32px;
    justify-content: space-between;
    transform: none;
    animation: none;
  }
  .nav-menu__item {
    font-family: "Oswald";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
    border: none;
    padding: 0;
  }
  .nav-menu__item:last-child {
    border: none;
  }
  .nav-menu__link {
    padding-bottom: 5px;
  }
  .nav-menu__link[href*="/"] {
    border-bottom: 2px #68B738 solid;
  }
  .nav-menu__btn {
    display: none;
  }
}
@media screen and (width > 1240px) {
  .nav-menu__item {
    font-size: 20px;
    line-height: normal;
    z-index: 1;
  }
  .nav-menu__item a {
    color: #FFF;
  }
  .nav-menu__item a[href*="/"] {
    border-bottom: 2px #FFF solid;
  }
}
.logo {
  z-index: 2;
}

.logo-tablet, .logo-desktop {
  display: none;
}

.logo-desktop:hover {
  opacity: 0.8;
}

.logo-desktop:visited {
  opacity: 6;
}

@media screen and (width >= 768px) {
  .logo-mobile, .logo-desktop, .logo-text {
    display: none;
  }
  .logo-tablet {
    display: block;
  }
}
@media screen and (width > 1240px) {
  .logo-mobile, .logo-tablet {
    display: none;
  }
  .logo-desktop {
    display: block;
  }
}
.block-main {
  position: relative;
  padding-top: 27px;
}
.block-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 305px;
  background-color: rgb(101, 169, 60);
  background-image: url("../image/background-header_mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.block-main__content {
  font-family: "Oswald";
  position: relative;
  text-align: center;
  color: #FFF;
}
.block-main__title {
  font-size: 36px;
  font-style: normal;
  line-height: 1;
  margin-bottom: 25px;
}
.block-main__subtitle {
  font-size: 14px;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.block-main__btn {
  font-family: "Oswald";
  margin: 0 auto;
  width: 100%;
  max-width: 430px;
  background-color: #68B738;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #FFF;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.block-main__btn:hover {
  background-color: rgb(94, 170, 47);
}

@media screen and (width > 430px) {
  .block-main__btn {
    max-width: 400px;
    left: calc(50% - 200px);
  }
}
@media screen and (width >= 768px) {
  .block-main {
    background-color: #fff;
    background-image: none;
    padding: 64px 30px 0;
  }
  .block-main::before {
    display: none;
  }
  .block-main__content {
    margin-left: 80px;
    text-align: left;
    color: #000;
  }
  .block-main__title {
    font-size: 60px;
    margin-bottom: 41px;
  }
  .block-main__subtitle {
    font-size: 20px;
    margin-bottom: 29px;
  }
  .block-main__picture {
    margin-left: -25px;
    z-index: 2;
  }
  .block-main__btn {
    position: absolute;
    top: 230px;
    left: 0;
    font-size: 20px;
    height: 54px;
    line-height: 0;
    max-width: 244px;
  }
}
@media screen and (width > 1240px) {
  .block-main {
    margin: 0 auto;
    max-width: 1500px;
    padding: 101px 30px 0;
    min-height: 582px;
  }
  .block-main__picture {
    position: absolute;
    top: -80px;
    left: 392px;
  }
  .block-main::after {
    position: absolute;
    content: "";
    top: -115px;
    right: 0;
    width: 50%;
    height: 100%;
    min-height: 696px;
    background-color: green;
    background-image: url("../image/background-header_desctop.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }
}
.block-advantages {
  padding-top: 22px;
}
.block-advantages__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (width > 1240px) {
  .block-advantages {
    padding-top: 82px;
  }
  .block-advantages__items {
    flex-direction: row;
    justify-content: space-around;
    gap: 80px;
  }
  .block-advantages__item {
    flex-basis: 50%;
  }
}
.item-advantage {
  background-color: #F2F2F2;
  padding: 30px 19px 24px;
}
.item-advantage__title {
  position: relative;
  display: block;
  font-family: "Oswald";
  font-size: 24px;
  margin-left: 91px;
  color: #000000;
  text-transform: uppercase;
  line-height: 37px;
}
.item-advantage__description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 24px 0;
}
.item-advantage hr {
  margin-bottom: 21px;
}
.item-advantage__btn {
  position: relative;
  font-family: "Oswald";
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  padding-right: 15px;
  text-decoration: none;
  color: #000000;
}
.item-advantage__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  width: 24px;
  height: 100%;
  background-image: url("../image/icon_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
}
.item-advantage__btn:hover::after {
  width: 34px;
  right: -25px;
}

.item-advantage_thin .item-advantage__title::before {
  position: absolute;
  content: "";
  top: -7px;
  left: -68px;
  width: 50px;
  height: 53px;
  background-repeat: no-repeat;
  background-image: url("../image/icon_cat1.svg");
}

.item-advantage_massive .item-advantage__title::before {
  position: absolute;
  content: "";
  top: -7px;
  left: -78px;
  width: 67px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../image/icon_cat2.svg");
}

@media screen and (width >= 768px) {
  .item-advantage {
    position: relative;
    padding: 77px 53px 55px;
  }
  .item-advantage__title {
    font-size: 36px;
    margin-left: 0;
    line-height: 1;
  }
  .item-advantage__description {
    font-size: 16px;
    margin-bottom: 52px;
    max-width: 60%;
  }
  .item-advantage hr {
    display: none;
  }
  .item-advantage__btn {
    font-size: 20px;
  }
  .item-advantage_thin .item-advantage__title::before, .item-advantage_massive .item-advantage__title::before {
    display: none;
  }
  .item-advantage_thin::after, .item-advantage_massive::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
  }
  .item-advantage_thin::after {
    top: calc(50% - 105px);
    right: 62px;
    background-image: url("../image/icon-cat_tablet1.svg");
    width: 200px;
    height: 211px;
  }
  .item-advantage_massive::after {
    top: calc(50% - 100px);
    right: 28px;
    background-image: url("../image/icon-cat_tablet2.svg");
    width: 268px;
    height: 200px;
  }
}
@media screen and (width > 1240px) {
  .item-advantage_thin::after, .item-advantage_massive::after {
    display: none;
  }
  .item-advantage_thin .item-advantage__title::before, .item-advantage_massive .item-advantage__title::before {
    display: block;
  }
  .item-advantage_thin .item-advantage__title::before {
    top: calc(50% - 53px);
    left: -210px;
    width: 100px;
    height: 106px;
    background-image: url("../image/icon-cat_desktop1.svg");
  }
  .item-advantage_massive .item-advantage__title::before {
    top: calc(50% - 50px);
    left: -230px;
    width: 134px;
    height: 100px;
    background-image: url("../image/icon-cat_desktop2.svg");
  }
  .item-advantage__title {
    margin-left: 214px;
    margin-bottom: 73px;
  }
  .item-advantage__description {
    margin-bottom: 36px;
    max-width: 100%;
  }
}
.block-quality {
  padding-top: 27px;
  padding-bottom: 42px;
}
.block-quality__title {
  font-family: "Oswald";
  font-size: 36px;
  line-height: 40px;
  color: rgb(0, 0, 0);
  margin-bottom: 38px;
}
.block-quality__items {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media screen and (width >= 768px) {
  .block-quality {
    position: relative;
    padding-top: 45px;
  }
  .block-quality__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 72px;
  }
  .block-quality__items {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (width > 1240px) {
  .block-quality__items {
    justify-content: space-between;
  }
}
.quality {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quality__icon {
  min-width: 60px;
  height: 60px;
  background-color: rgb(104, 183, 56);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.quality__text {
  font-family: "Arial";
  font-size: 16px;
  line-height: 18px;
  color: rgb(68, 68, 68);
}
.quality__number {
  display: none;
}

@media screen and (width >= 768px) {
  .quality {
    position: relative;
    flex: 0 0 50%;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 31px;
    padding-bottom: 57px;
  }
  .quality__icon {
    min-width: 80px;
    height: 80px;
  }
  .quality__text {
    max-width: 245px;
  }
  .quality__number {
    position: absolute;
    top: -80px;
    right: 0;
    left: 118px;
    display: block;
    z-index: -1;
    font-family: "Oswald";
    font-size: 280px;
    color: rgb(242, 242, 242);
  }
}
@media screen and (width > 1240px) {
  .quality {
    flex: 0 0 20.2%;
  }
  .quality__icon {
    min-width: 80px;
    height: 80px;
  }
  .quality__text {
    max-width: 245px;
  }
  .quality__number {
    left: auto;
    right: 0;
  }
}
.block-example {
  padding-top: 37px;
  padding-bottom: 38px;
  background-color: #EAEAEA;
}
.block-example__title {
  font-family: "Oswald";
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 37px;
}
.block-example__description {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 25px;
}
.block-example__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}
.block-example__subtitle {
  font-family: "Oswald";
  text-align: center;
  font-size: 14px;
  font-weight: 20;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.item-result {
  position: relative;
  flex-basis: 124px;
  height: 56px;
  padding-top: 13px;
  border: 1px #CDCDCD solid;
  border-radius: 1px;
  border-bottom: none;
  text-align: center;
  line-height: 1;
}
.item-result:before, .item-result:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - 1px);
  width: 17px;
  height: 0px;
  border-bottom: 1px #CDCDCD solid;
}
.item-result::before {
  left: -1px;
}
.item-result::after {
  right: -1px;
}
.item-result__value {
  font-family: "Oswald";
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.item-result__key {
  margin: 0 auto;
  font-size: 12px;
  color: #444444;
  max-width: 65px;
}

@media screen and (width >= 768px) {
  .block-example {
    padding-top: 50px;
    padding-bottom: 64px;
    background-color: #fff;
  }
  .block-example__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 63px;
  }
  .block-example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 56px;
  }
  .block-example__text {
    display: flex;
    justify-content: space-between;
    text-align: justify;
  }
  .block-example__items {
    flex-basis: 50%;
    justify-content: flex-start;
    margin-bottom: 34px;
    gap: 42px;
  }
  .block-example__subtitle {
    padding-top: 10px;
    font-size: 20px;
    max-width: 174px;
    line-height: 1.5;
    text-align: right;
  }
}
@media screen and (width >= 1240px) {
  .block-example {
    padding-top: 0px;
  }
  .block-example__container {
    display: flex;
    align-items: end;
  }
  .block-example__content {
    flex: 1 1 55%;
  }
  .block-example__title {
    margin-top: 57px;
    margin-bottom: 145px;
  }
  .block-example__description {
    max-width: 436px;
    margin-bottom: 69px;
  }
  .block-example__text {
    display: flex;
    flex-direction: column;
  }
  .block-example__items {
    margin-bottom: 50px;
  }
  .block-example__subtitle {
    max-width: 100%;
    text-align: left;
    padding-top: 0;
    margin-bottom: 0;
  }
  .block-example__subtitle span {
    margin-left: 63px;
  }
  .block-example__slider {
    margin-right: -48px;
  }
  .item-result {
    flex-basis: 162px;
    padding-top: 15px;
    height: 77px;
  }
  .item-result:before, .item-result:after {
    width: 22px;
  }
  .item-result__value {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 15px;
  }
  .item-result__key {
    font-size: 14px;
    line-height: 1;
    max-width: 127px;
  }
}
.slider {
  text-align: center;
}
.slider__img {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 27px;
  height: 232px;
  width: 251px;
}
.slider__img-before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: 2;
  background-color: #EAEAEA;
}
.slider__img-after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: 1;
}
.slider__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 228px;
}
.slider__button {
  font-family: "Oswald";
  font-size: 16px;
  cursor: pointer;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background: none;
  color: #444444;
}
.slider input[type=range] {
  appearance: none;
  width: 84px;
  height: 9px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 6px;
  background: rgb(255, 255, 255);
  padding: 0 5px;
  cursor: pointer;
}
.slider input[type=range]::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 3px solid rgb(104, 183, 56);
  border-radius: 6px;
  height: 4px;
  width: 50%;
  -webkit-appearance: none;
}

@media screen and (width >= 768px) {
  .slider__img {
    width: 677px;
    height: 500px;
  }
  .slider__control {
    column-gap: 24px;
    width: 566px;
  }
  .slider__img-before {
    background-color: #ffffff;
  }
  .slider__button {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgb(205, 205, 205);
  }
  .slider input[type=range] {
    width: 428px;
    height: 6px;
  }
  .slider input[type=range]::-webkit-slider-thumb {
    position: relative;
    box-sizing: border-box;
    background-color: rgb(104, 183, 56);
    border: 12px solid #ffffff;
    outline: 1px solid rgb(205, 205, 205);
    border-radius: 100%;
    height: 34px;
    width: 34px;
  }
}
.block-contacts {
  background-color: rgb(242, 242, 242);
}
.block-contacts__title {
  display: none;
}
.block-contacts__info {
  padding-top: 28px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
}
.block-contacts__offer {
  flex: 0 0 50%;
  color: rgb(17, 17, 17);
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.block-contacts__address {
  color: rgb(68, 68, 68);
  font-family: "Arial";
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  padding-right: 4px;
}

@media screen and (width >= 768px) {
  .block-contacts__info {
    padding-top: 65px;
    padding-bottom: 61px;
    padding-left: 71px;
    padding-right: 71px;
  }
  .block-contacts__offer {
    font-size: 20px;
    line-height: 25px;
  }
  .block-contacts__address {
    text-align: right;
    max-width: 159px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (width > 1240px) {
  .block-contacts {
    background-color: #ffffff;
  }
  .block-contacts .container {
    position: relative;
  }
  .block-contacts__info {
    background-color: #ffffff;
    position: absolute;
    top: 95px;
    z-index: 1;
    left: 0;
    width: 570px;
    padding-top: 62px;
    padding-bottom: 60px;
    padding-left: 76px;
    padding-right: 89px;
  }
  .block-contacts__address {
    text-align: left;
    padding-right: 0;
  }
}
.map {
  position: relative;
  overflow: hidden;
}
.map__container {
  position: absolute;
  top: 0;
  color: #eee;
  font-size: 12px;
}
.map__address {
  position: absolute;
  top: 14px;
  color: #eee;
  font-size: 12px;
}
.map__widget {
  width: 100%;
  position: relative;
  height: 362px;
}

@media screen and (width >= 768px) {
  .map__widget {
    height: 400px;
  }
}
.page-footer {
  background-color: rgb(242, 242, 242);
  padding-top: 39px;
  padding-bottom: 22px;
  text-align: center;
}
.page-footer__logo-text {
  margin-bottom: 31.5px;
}
.page-footer__list-icon {
  margin: 0 auto 28.5px;
  padding: 20.5px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 36px;
  border-top: solid 1px rgb(217, 217, 217);
  border-bottom: solid 1px rgb(217, 217, 217);
}
.page-footer__logo-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-footer__logo-academy p {
  font-family: "Arial";
  font-size: 16px;
  line-height: 18px;
  color: rgb(68, 68, 68);
}
.page-footer__logo-academy .logo-academy-link {
  cursor: pointer;
}

@media screen and (width >= 768px) {
  .page-footer {
    padding-top: 55px;
    padding-bottom: 61px;
  }
  .page-footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-footer__list-icon {
    margin: 0;
    border: none;
    padding: 0;
    column-gap: 27px;
  }
  .page-footer__logo-text {
    margin-bottom: 0;
  }
  .page-footer__logo-academy p {
    padding-right: 22px;
  }
}
.social-icon, .logo-htmlacademy {
  fill: #666666;
}
.social-icon:hover, .logo-htmlacademy:hover {
  fill: #68B738;
}

.social-icon--facebook path {
  stroke: #666666;
  fill: #666666;
  fill-opacity: 0;
}
.social-icon--facebook path:hover {
  stroke: #68B738;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
}

.container {
  max-width: 1219px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3 {
  font: inherit;
}

@media screen and (width >= 768px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (width > 1240px) {
  .container {
    padding: 0;
  }
}